# Work With CSV DATA

In [4]:
#Extract Directly
import pandas as pd
df = pd.read_csv('Placement.csv')
df.head()

   Student_ID  CGPA   IQ  Placement
0           1   6.8  123          1
1           2   5.9  106          0
2           3   5.3  121          0
3           4   7.4  132          1
4           5   5.8  142          0

In [6]:
#Extract Data From Github Raw Files 
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/Air%20Quality/real_2016_air.csv')
df.head()

      T    TM    Tm     SLP   H   VV    V    VM      PM 2.5
0  16.9  25.1   6.6  1021.3  65  1.1  2.0   7.6  284.795833
1  15.5  24.1   7.7  1021.0  71  1.1  3.5  11.1  219.720833
2  14.9  22.8   8.0  1018.4  73  1.1  5.9  13.0  182.187500
3  18.3  24.7  11.5  1018.1  85  0.5  1.1   7.6  154.037500
4  16.5  24.7  12.0  1017.4  82  0.6  8.0  13.0  223.208333

# Working with JSON Data

In [22]:
import pandas as pd
df = pd.read_json('cv_metrics.json')
df.head()

                                            per_fold  overall_mean_perdim
0  {'seed': 42, 'fold': 1, 'rmse_perdim': 0.60850...             0.644578
1  {'seed': 42, 'fold': 2, 'rmse_perdim': 0.68903...             0.644578
2  {'seed': 42, 'fold': 3, 'rmse_perdim': 0.60905...             0.644578
3  {'seed': 42, 'fold': 4, 'rmse_perdim': 0.71344...             0.644578
4  {'seed': 42, 'fold': 5, 'rmse_perdim': 0.60610...             0.644578

### JSON Data using URL

In [23]:
import pandas as pd
df1 = pd.read_json('https://api.github.com/events')
df1.head()

,id,type,actor,repo,payload,public,created_at,org
0,6713257455,PushEvent,"{'id': 242804352, 'login': 'null-Ux-xU', 'disp...","{'id': 1093445581, 'name': 'null-Ux-xU/Gacha',...","{'repository_id': 1093445581, 'push_id': 29007...",True,2025-12-14 07:27:03+00:00,NaN
1,6713257398,PushEvent,"{'id': 24767490, 'login': 'ayoungcyberteam', '...","{'id': 1008771280, 'name': 'ayoungcyberteam/pr...","{'repository_id': 1008771280, 'push_id': 29007...",True,2025-12-14 07:27:03+00:00,NaN
2,6713257366,PushEvent,"{'id': 190609736, 'login': 'AVD-fw', 'display_...","{'id': 1017352754, 'name': 'AVD-fw/flowwow-fee...","{'repository_id': 1017352754, 'push_id': 29007...",True,2025-12-14 07:27:03+00:00,NaN
3,6713257365,PushEvent,"{'id': 249447189, 'login': 'BambangSuryaPrana'...","{'id': 1115741656, 'name': 'BambangSuryaPrana/...","{'repository_id': 1115741656, 'push_id': 29007...",True,2025-12-14 07:27:03+00:00,NaN
4,6713257373,PushEvent,"{'id': 156567935, 'login': 'adymob2024', 'disp...","{'id': 1041940904, 'name': 'adymob2024/tahavpn...","{'repository_id': 1041940904, 'push_id': 29007...",True,2025-12-14 07:27:03+00:00,NaN

# Working With SQL Database

In [ ]:
!pip install mysql.connector

In [6]:
import mysql.connector
conn = mysql.connector.connect(host='localhost', user='root', password='', database='world')

In [12]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM city where CountryCode LIKE 'IND'",conn)

/tmp/ipykernel_18479/1741916649.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM city where CountryCode LIKE 'IND'",conn)

In [13]:
df.head()

     ID                Name CountryCode        District  Population
0  1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1  1025               Delhi         IND           Delhi     7206704
2  1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3  1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4  1028           Hyderabad         IND  Andhra Pradesh     2964638

# Fetching Data From An API

In [75]:
import pandas as pd
import requests

#200 means evrything is right #404 means not available #500 server down
#Python is using the requests library and hitting an http request on that particular API and that API will give us data
response = requests.get('https://newsdata.io/api/1/latest?apikey=pub_42cb9b589e374144b529b3b55fc4bc6d&q=Trending')

In [76]:
df = pd.DataFrame(response.json().get('results', []))
df.shape

(10, 27)

In [77]:
df[:1]

,article_id,link,title,description,content,keywords,creator,language,country,category,...,source_priority,source_url,source_icon,sentiment,sentiment_stats,ai_tag,ai_region,ai_org,ai_summary,duplicate
0,f35e1c6aa502cb7ae65ad6a1cd59e9e5,https://hollywoodlife.com/pics/john-cena-pics/,John Cena Then & Now: Photos of the Retired WW...,"From WWE legend to Hollywood star, John Cena h...",ONLY AVAILABLE IN PAID PLANS,"[john cena, news, celebrity news]",[Vivian],english,[united states of america],[entertainment],...,977,https://hollywoodlife.com,https://n.bytvi.com/hollywoodlife.png,ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE P...,ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE P...,ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE P...,ONLY AVAILABLE IN CORPORATE PLANS,ONLY AVAILABLE IN CORPORATE PLANS,ONLY AVAILABLE IN PAID PLANS,False

### Run A For Loop and Store all API_DATA into a data-frame named df1 and then create a CSV file from this data

In [80]:
import pandas as pd
import requests

df1 = pd.DataFrame()

for i in range(1, 12):
    url = f"https://newsdata.io/api/1/latest?apikey=pub_42cb9b589e374144b529b3b55fc4bc6d&q={i}"
    response = requests.get(url)
    results = response.json().get('results', [])
    if isinstance(results, dict):
        results = [results]
    temp = pd.DataFrame(results)
    df1 = pd.concat([df1, temp], ignore_index=True)

In [81]:
df1.shape

(110, 27)

In [82]:
df1[:1]

,article_id,link,title,description,content,keywords,creator,language,country,category,...,source_priority,source_url,source_icon,sentiment,sentiment_stats,ai_tag,ai_region,ai_org,ai_summary,duplicate
0,4e9f58028399e3efbb4cccfa378442d2,https://www.kyoto-np.co.jp/articles/-/1618380,【速報】石川県能登で震度3の地震、滋賀県でも震度1 震源は能登半島沖,15日午前4時3分ごろ、石川県能登で震度3、滋賀県でも震度1を観測する地震があった。...,ONLY AVAILABLE IN PAID PLANS,[社会],[京都新聞デジタル],japanese,[japan],"[lifestyle, top]",...,140871,https://www.kyoto-np.co.jp,https://n.bytvi.com/kyoto_np.jpg,ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE P...,ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE P...,ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE P...,ONLY AVAILABLE IN CORPORATE PLANS,ONLY AVAILABLE IN CORPORATE PLANS,ONLY AVAILABLE IN PAID PLANS,False

In [83]:
#save the file using CSV
df1.to_csv('news.csv')